html, body {
    background-image: url("../images/heart.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    overflow:hidden;
    margin:0px; padding:0px;
    /* background-image: url('../images/grass.png');
    background-repeat: repeat; */
}

script {
    display: none !important;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

phone-component {
	width:50px; min-height:92px;
	background-image: url('../images/phone.png');
}

zombie-component {
	width:67px; min-height:119px;
	background-image: url('../images/zombie.png');
}

chicken-component {
    width:67px; height:110px;
    background-image: url('../images/chickenwalking.gif');
}

knight-component {
	width:342px; min-height:600px;
	background-image: url('../images/enemy.png');
}

king-component {
    width:178px; height:387px;
    background-image: url('../images/powerpuffgirls.png');
}

tile-component {
    width:300; height:300;
    background-color: white;
}

ui {
    font-size:42px;
    color:white;
    padding:20px;
    width:100%;
    text-align: center;
}

h1, p, button{
    left: 950px;
    padding: 30px;
    margin-top: 30px;
}

p{
    line-height: 30px;
}

.text{
    margin-top: 130px;
}

.loser, .winner{
    display: none;
}

.loser button, .winner button{
    margin-top: 150px;
    margin-left: 30px;
    background-color: #aec2fc;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}

.loser-show, .winner-show{
    display: block;
    width: 100%;
    padding: 30px;
    margin-top: 200px;
}

.loser-no-show{
    display: none;
}

